{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Библиотека</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}" />
  </head>
  <body>
      <div class="img"></div>
      <h1 class="text">Добро пожаловать в книжный магазин "ФЛАН"</h1>
    <section>
      <div class="create_container">
        <form action="{% url 'add-todo' %}" method="POST">
          {% csrf_token %}
          <input
            class="create_input"
            type="text"
            placeholder="Название книги"
            name="books_text"
          />
          <input
            class="create_input"
            type="text"
            placeholder="Подзаголовок книги"
            name="books_text"
          />
          <input
            class="create_input"
            type="text"
            placeholder="Описание книги"
            name="books_text"
          />
          <input
            class="create_input"
            type="text"
            placeholder="Стоимость книги"
            name="books_text"
          />
          <input
            class="create_input"
            type="text"
            placeholder="Жанр книги"
            name="books_text"
          />
          <input
            class="create_input"
            type="text"
            placeholder="Автор книги"
            name="books_text"
          />
          <input
            class="create_input"
            type="text"
            placeholder="Год издания книги"
            name="books_text"
          />
          <button class="create_button">Добавить</button>
        </form>
      </div>
      <div class="todo_container">
        {% for books in books_list %}
        <div
          class="todo_item {% if todo.is_favorite %} marked {% elif todo.is_closed %} done {% endif %}"
        >
          <div class="todo_item_header">
            <lable class="checkbox_container">
              <input
                type="checkbox"
                {% if books.is_closed %}
                checked
                {% endif %}
              />
              <span class="checkmark"></span>
            </lable>
            <h4>
              <a href="{% url 'closed-todo' todo.id %}">{{ books.text }}</a>
            </h4>
          </div>
          <div class="todo_item_footer">
            <p>{{ books.created_at }}</p>
            <div class="action_buttons">
              {% if books.is_favorite %}
              <a href="{% url 'unmark-todo' todo.id %}"
                ><img src="{% static './icons/heart.png' %}"
              /></a>
              {% else %}
              <a href="{% url 'mark-todo' todo.id %}"
                ><img src="{% static './icons/heart2.png' %}"
              /></a>
              {% endif %}

              <a href="{% url 'delete-todo' todo.id %}"
                ><img src="{% static './icons/basket.png' %}"
              /></a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
  </body>
</html>
